<html>
<body>
  <h1>Dashboard!!</h1>

  <div class="favs">

    <h3>Favorites</h3>

    <% current_user.favorites.each do |fav| %>
        <a href="/posts/<%= fav.post.id %>"> <p><%=fav.post.title%> </a> | |<%=truncate(fav.post.body, length: 50)%></p>
    <% end %>
  </div>

</body>
</html>