<html>
<head>
  <title>Log In</title>
  <h1>Please Sign In</h1>

  <%= form_tag '/' do %>
      <p>email</p>
      <input type="text" placeholder="write title here..." name="title">
      <p>Description</p>
      <input type="text" placeholder="description..." name="description">

      <button>Create Issue</button>
  <% end %>
</head>
</html>