<html>

<head>
  <link rel="stylesheet" href="/assets/stylesheets/applications.css">
</head>

<body>
<div id="app-container">
      <strong>
        We need new Posts
      </strong>

      <%= form_tag '/posts' do %>
          <p>Title</p>
          <input type="text" placeholder="write title here..." name="title">
          <p>Body</p>
          <input type="text" placeholder="body..." name="body">
          <input type="hidden" name="user" value="<%= current_user.id %>">
          <button>Create Post</button>
      <% end %>
    </div>
  </body>
</html>