<html>
<head>
  <title>
  </title>
<body>
<h1><%= @post.title %></h1>

<p><%= @post.body %></p>

<a href="/posts/edit/<%= @post.id %>">Edit Post</a>

<p>
meanwhile, <a href="/">back home...</a>
</p>
</body>
</head>
</html>