/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
    box-sizing: border-box;
    font-family: "Helvetica Neue", "Arial", sans-serif;
}
body {
    background: #E0EAFC; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #E0EAFC , #CFDEF3); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #E0EAFC , #CFDEF3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
h3 {
    font-weight: lighter;
    text-decoration: underline;
}
.top-header {
    display: flex;
    text-align: center;
    font-weight: lighter;
}
.star {
    vertical-align: inherit;
    cursor: pointer;
}
.star-button {
    background: #D5E2F6;
    border-radius: 30px;
    border: #D5E2F6;
}
.fav-line {
    display: flex;
}
.create-btn {
    padding-bottom: 5px;
}
.footer-p {
    padding-top: 3px;
}
.text-input {
    margin-bottom: 15px;
}
.nav-btn {
    margin-top: 10px;
    margin-right: 10px;
}

.nav {
    position:absolute;
    top:0;
    right:0;
}

th {
    padding-bottom: 5px;
}

.header {
    text-align: center;
    padding-top: 20px;
    font-size: 60px;
    font-weight: lighter;
    margin-bottom: auto;
}

.create-link {
    position: absolute;
    top: 73px;
    right: 13px;
    text-decoration: none;
}
.table-row {
    margin-bottom: 10px;
}
.header-row {
    padding-top: 35px;
}

a {
    text-decoration: none;

}


